<p>bot-top-bar works!</p>
<select id="botSelector">
    <option selected disabled value="">Обрати бота</option>
    <option *ngFor="let bot of savedBots" (change)="onBotChange()">{{ bot }}</option>
</select>
<button (click)="addBot()">
    Add Bot
</button>
<button (click)="start()">
    Start
</button>
<button (click)="restart()">
    Restart
</button>
<app-bot-info-page [botName]="bot"></app-bot-info-page>
